.verified {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}


.verified .icon {
    width: 20px;
    height: 20px;
    background-color: #daf6fd;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    color: #1dd3f8;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}