.priceCard {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
    padding: 30px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s;
}

.popular {
    position: absolute;
    top: -15px;
    right: -50px;
    z-index: 1;
    background-color: red;
    color: #fff;
    padding: 35px 40px 10px 35px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.priceCard h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.priceCard:hover {
    transform: translateY(-5px);
}

.plan_features {
    width: 60%;
    margin-bottom: 20px;
    text-align: left;
}